.card__bg {
  /* background-color: #004f8c; */
  background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
}

.nav__bg {
  background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
}

.main__bg {
  background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
}

.coloured__bg {
  background: #a46c30;
  background: linear-gradient(180deg, #a46c30 0%, rgba(96, 165, 250, 1) 100%);
}
