.card__bg {
  /* background-color: #004f8c; */
  background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
}

.nav__bg {
  background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
}

.main__bg {
  background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
}

.rainbowGradientOne {
  --space: 5%;
  --posy: 50%;

  aspect-ratio: 0.714;
  background-image: repeating-linear-gradient(
    0deg,
    rgb(255, 119, 115) calc(var(--space) * 1),
    rgba(255, 237, 95, 1) calc(var(--space) * 2),
    rgba(168, 255, 95, 1) calc(var(--space) * 3),
    rgba(131, 255, 247, 1) calc(var(--space) * 4),
    rgba(120, 148, 255, 1) calc(var(--space) * 5),
    rgb(216, 117, 255) calc(var(--space) * 6),
    rgb(255, 119, 115) calc(var(--space) * 7)
  );
  background-size: 200% 700%;
  background-position: 0% var(--posy);
}

.rainbowGradientTwo {
  --posx: 50%;
  --posy: 50%;
  --angle: 133deg;

  aspect-ratio: 0.714;
  background-image: repeating-linear-gradient(
    var(--angle),
    #0e152e 0%,
    hsl(180, 10%, 60%) 3.8%,
    hsl(180, 29%, 66%) 4.5%,
    hsl(180, 10%, 60%) 5.2%,
    #0e152e 10%,
    #0e152e 12%
  );
  background-size: 300%;
  background-position: var(--posx) var(--posy);
}

.radialGradient {
  --posx: 50%;
  --posy: 50%;
  --mx: 50%;
  --my: 50%;
  aspect-ratio: 0.714;

  background-image: radial-gradient(
    farthest-corner circle at var(--mx) var(--my),
    rgba(0, 0, 0, 0.1) 12%,
    rgba(0, 0, 0, 0.15) 20%,
    rgba(0, 0, 0, 0.25) 120%
  );
  background-size: 200%;
  background-position: var(--posx) var(--posy);
}

.rainbowsCombined {
  --space: 5%;
  --posx: 50%;
  --posy: 50%;
  --angle: 133deg;

  aspect-ratio: 0.714;
  background-image: repeating-linear-gradient(
      0deg,
      rgb(255, 119, 115) calc(var(--space) * 1),
      rgba(255, 237, 95, 1) calc(var(--space) * 2),
      rgba(168, 255, 95, 1) calc(var(--space) * 3),
      rgba(131, 255, 247, 1) calc(var(--space) * 4),
      rgba(120, 148, 255, 1) calc(var(--space) * 5),
      rgb(216, 117, 255) calc(var(--space) * 6),
      rgb(255, 119, 115) calc(var(--space) * 7)
    ),
    repeating-linear-gradient(
      var(--angle),
      #0e152e 0%,
      hsl(180, 10%, 60%) 3.8%,
      hsl(180, 29%, 66%) 4.5%,
      hsl(180, 10%, 60%) 5.2%,
      #0e152e 10%,
      #0e152e 12%
    );
  background-size: 200% 700%, 300%;
  background-blend-mode: hue, hard-light;
  background-position: 0% var(--posy), var(--posx) var(--posy);
}

.allGradientsCombined {
  --space: 5%;
  --posx: 50%;
  --posy: 50%;
  --mx: 50%;
  --my: 50%;
  --angle: 133deg;

  aspect-ratio: 0.714;
  background-image: repeating-linear-gradient(
      0deg,
      rgb(255, 119, 115) calc(var(--space) * 1),
      rgba(255, 237, 95, 1) calc(var(--space) * 2),
      rgba(168, 255, 95, 1) calc(var(--space) * 3),
      rgba(131, 255, 247, 1) calc(var(--space) * 4),
      rgba(120, 148, 255, 1) calc(var(--space) * 5),
      rgb(216, 117, 255) calc(var(--space) * 6),
      rgb(255, 119, 115) calc(var(--space) * 7)
    ),
    repeating-linear-gradient(
      var(--angle),
      #0e152e 0%,
      hsl(180, 10%, 60%) 3.8%,
      hsl(180, 29%, 66%) 4.5%,
      hsl(180, 10%, 60%) 5.2%,
      #0e152e 10%,
      #0e152e 12%
    ),
    radial-gradient(
      farthest-corner circle at var(--mx) var(--my),
      rgba(0, 0, 0, 0.1) 12%,
      rgba(0, 0, 0, 0.15) 20%,
      rgba(0, 0, 0, 0.25) 120%
    );
  background-size: 200% 700%, 300%, 200%;
  background-blend-mode: hue, hard-light, exclusion;
  background-position: 0% var(--posy), var(--posx) var(--posy),
    var(--posx) var(--posy);
}

.textureAndAllGradientsCombined {
  --space: 5%;
  --posx: 50%;
  --posy: 50%;
  --mx: 50%;
  --my: 50%;
  --angle: 133deg;

  aspect-ratio: 0.714;
  background-image: url(https://res.cloudinary.com/simey/image/upload/Dev/PokemonCards/illusion.webp),
    repeating-linear-gradient(
      0deg,
      rgb(255, 119, 115) calc(var(--space) * 1),
      rgba(255, 237, 95, 1) calc(var(--space) * 2),
      rgba(168, 255, 95, 1) calc(var(--space) * 3),
      rgba(131, 255, 247, 1) calc(var(--space) * 4),
      rgba(120, 148, 255, 1) calc(var(--space) * 5),
      rgb(216, 117, 255) calc(var(--space) * 6),
      rgb(255, 119, 115) calc(var(--space) * 7)
    ),
    repeating-linear-gradient(
      var(--angle),
      #0e152e 0%,
      hsl(180, 10%, 60%) 3.8%,
      hsl(180, 29%, 66%) 4.5%,
      hsl(180, 10%, 60%) 5.2%,
      #0e152e 10%,
      #0e152e 12%
    ),
    radial-gradient(
      farthest-corner circle at var(--mx) var(--my),
      rgba(0, 0, 0, 0.1) 12%,
      rgba(0, 0, 0, 0.15) 20%,
      rgba(0, 0, 0, 0.25) 120%
    );
  background-size: 50%, 200% 700%, 300%, 200%;
  background-blend-mode: exclusion, hue, hard-light, exclusion;
  background-position: 0% var(--posy), var(--posx) var(--posy),
    var(--posx) var(--posy);
}

.allWithBackgroundPosition {
  --space: 5%;
  --posx: 50%;
  --posy: 50%;
  --mx: 50%;
  --my: 50%;
  --angle: 133deg;

  aspect-ratio: 0.714;
  background-image: url(https://res.cloudinary.com/simey/image/upload/Dev/PokemonCards/illusion.webp),
    repeating-linear-gradient(
      0deg,
      rgb(255, 119, 115) calc(var(--space) * 1),
      rgba(255, 237, 95, 1) calc(var(--space) * 2),
      rgba(168, 255, 95, 1) calc(var(--space) * 3),
      rgba(131, 255, 247, 1) calc(var(--space) * 4),
      rgba(120, 148, 255, 1) calc(var(--space) * 5),
      rgb(216, 117, 255) calc(var(--space) * 6),
      rgb(255, 119, 115) calc(var(--space) * 7)
    ),
    repeating-linear-gradient(
      var(--angle),
      #0e152e 0%,
      hsl(180, 10%, 60%) 3.8%,
      hsl(180, 29%, 66%) 4.5%,
      hsl(180, 10%, 60%) 5.2%,
      #0e152e 10%,
      #0e152e 12%
    ),
    radial-gradient(
      farthest-corner circle at var(--mx) var(--my),
      rgba(0, 0, 0, 0.1) 12%,
      rgba(0, 0, 0, 0.15) 20%,
      rgba(0, 0, 0, 0.25) 120%
    );
  background-size: 50%, 200% 700%, 300%, 200%;
  background-blend-mode: exclusion, hue, hard-light, exclusion;
  background-position: center, 0% var(--posy), var(--posx) var(--posy),
    var(--posx) var(--posy);
}

.cardShinePlusAfterElement {
  --space: 5%;
  --angle: 133deg;
  --imgsize: 50%;
  --posx: 50%;
  --posy: 50%;
  --mx: 50%;
  --my: 50%;
  --hyp: 0;
  --o: 1;
  
  aspect-ratio: 0.714;
  mix-blend-mode: color-dodge;
  background-image: url(https://res.cloudinary.com/simey/image/upload/Dev/PokemonCards/illusion.webp),
    repeating-linear-gradient(
      0deg,
      rgb(255, 119, 115) calc(var(--space) * 1),
      rgba(255, 237, 95, 1) calc(var(--space) * 2),
      rgba(168, 255, 95, 1) calc(var(--space) * 3),
      rgba(131, 255, 247, 1) calc(var(--space) * 4),
      rgba(120, 148, 255, 1) calc(var(--space) * 5),
      rgb(216, 117, 255) calc(var(--space) * 6),
      rgb(255, 119, 115) calc(var(--space) * 7)
    ),
    repeating-linear-gradient(
      var(--angle),
      #0e152e 0%,
      hsl(180, 10%, 60%) 3.8%,
      hsl(180, 29%, 66%) 4.5%,
      hsl(180, 10%, 60%) 5.2%,
      #0e152e 10%,
      #0e152e 12%
    ),
    radial-gradient(
      farthest-corner circle at var(--mx) var(--my),
      rgba(0, 0, 0, 0.1) 12%,
      rgba(0, 0, 0, 0.15) 20%,
      rgba(0, 0, 0, 0.25) 120%
    );
  background-blend-mode: exclusion, hue, hard-light, exclusion;
  background-size: var(--imgsize), 200% 700%, 300%, 200%;
  background-position: center, 0% var(--posy), var(--posx) var(--posy),
    var(--posx) var(--posy);
  filter: brightness(calc((var(--hyp) * 0.3) + 0.5)) contrast(2) saturate(1.5);
  -webkit-filter: brightness(calc((var(--hyp) * 0.3) + 0.5)) contrast(2)
    saturate(1.5);
  display: grid;
  grid-area: 1/1;
  opacity: var(--o);
}
